script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"
script src="Output.js"
script src="AsyncChart.js"

#timeline style="height: 350px"

h2 Output
pre#output

script type="text/javascript"
  == @load_js
