form method="post"
  div
    label for="poem" Poem to be processed:
  div
    textarea#poem type="text" name="poem"
      = "Roses are red\nViolets are potatoes\nNot a great poem\nBrexit"
  div
    input.btn type="submit" formaction="/slow-process" value="Slow"
    input.btn type="submit" formaction="/fast-process" value="Fast"
    input.btn type="submit" formaction="/stream-process" value="Fast & stream"
    input.btn type="submit" formaction="/sync-chart" value="Fast & chart"
    input.btn type="submit" formaction="/async-chart" value="Fast & streaming chart"
